---
version: 3

images:
  base_image:
    name: registry.redhat.io/ansible-automation-platform-26/ee-minimal-rhel9:latest

dependencies:
  galaxy:
    collections:
      - { name: ansible.utils, version: 6.0.1 }
      - { name: community.general, version: 12.3.0 }
      - { name: netbox.netbox, version: 3.22.0 }

  python:
    - aiohttp
    - pytz
    - pynetbox

options:
  package_manager_path: /usr/bin/microdnf
