---
version: 1.0.0

build_arg_defaults:
  EE_BASE_IMAGE: 'registry.redhat.io/ansible-automation-platform-21/ee-supported-rhel8'
  #EE_BASE_IMAGE: 'registry.redhat.io/ansible-automation-platform-20-early-access/ee-supported-rhel8:2.0.0'

ansible_config: 'ansible.cfg'

dependencies:
  galaxy: requirements.yml
  python: requirements.txt

additional_build_steps:
  prepend: |
    COPY pulp_webserver.crt /etc/pki/ca-trust/source/anchors
    COPY root.crt /etc/pki/ca-trust/source/anchors
    RUN update-ca-trust
#  append:
#    - RUN echo This is a post-install command!
#    - RUN ls -la /etc
